# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    target-files:
      - "gradle/wrapper/gradle-wrapper.properties"
    schedule:
      interval: "daily"
    groups:
      gradle-plugins:
        patterns:
          - "*.gradle"
          - "*.gradle.kts"
          - "gradle.properties"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      action-dependencies:
        patterns:
          - "*"
